body, html {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    overflow: visible;
}

@media all and (max-width 991px) {
    #martenblog-sidebar {
	font-size: 12px;
    }
    #entries {
	font-size: 14px;
	padding-left: 15px;
	line-height: 18px;
    }
}
@media all and (min-width 992px) {
    #martenblog-sidebar {
	font-size: 14px;
    }
    #entries {
	font-size: 16px;
	padding-left: 15px;
	line-height: 20px;
    }
}

a {
    color: #1e9090;
}

.entry img {
    width: 100%;
}

.entry blockquote {
    font-size: smaller;
}

img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

